<%- include("../partials/header")%>
<div class="container">
				<h1 style="text-align:center">
				EDIT Campground <%=campground.title%>
			</h1>
	<div class="row">

			<div style="width:30% ;margin:25px auto;">
				<form action="/campgrounds/<%=campground._id%>/?_method=PUT" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="cg[title]" value="<%=campground.title%>">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="cg[price]" value="<%=campground.price%>" min="0.01" step="0.01">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="cg[image]" value="<%=campground.image%>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="cg[description]" value="<%=campground.description%>">
				</div>
				<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">
					Submit
				</button>
					</div>
			</form>
			<a href="/campgrounds">Go Back</a>
			</div>
	
	</div>
	
</div>
<%- include("../partials/footer")%>